[include]
  path = ~/.git/gitconfig.local
[color]
  diff = auto
  branch = auto
  status = auto
  interactive = auto
  ui = true
[color "branch"]
  current = red
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color "diff"]
  commit = black white bold
  meta = yellow
  frag = black
[i18n]
  commitencoding = utf-8
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  pager = iconv -t UTF-8 | LESSCHARSET=utf-8 less
[pager]
  diff = delta
  log = delta
  reflog = delta
  show = delta
[interactive]
  diffFilter = delta --color-only --features=interactive
[delta]
  features = decorations
[delta "interactive"]
  keep-plus-minus-markers = false
[delta "decorations"]
  line-numbers = true
  navigate = true
  syntax-theme = Monokai Extended
[credential]
  helper = osxkeychain
[user]
  name = sugamasao
  email = sugamasao@gmail.com
[filter "media"]
  required = true
  clean = git media clean %f
  smudge = git media smudge %f
[core]
  editor = vim
[push]
  default = simple
# force using git:// to https://
[url "https://"]
  insteadOf = git://
[pull]
  rebase = true
[diff]
  #algorithm = patience
  compactionHeuristic = true
  colorMoved = default
[ghq]
  root = ~/src
[alias]
  gv = "!f(){ git grep -n $* | peco | awk -F: '{print $1}' | xargs -I% bash -c 'vim "%" <&- <&2'; };f"
  br = "!f(){ git for-each-ref --count=${1:-10} --sort=-authordate  --format='%(HEAD) %(authordate:short) %(color:bold yellow)[%(refname:short)]%(color:reset) %(subject) %(color:bold)@%(authorname)%(color:reset)' refs/heads; };f"
  showpr = !"f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"
  browse = !"f() { open $(git remote get-url origin)/tree/$(git rev-parse HEAD)/${1}#L${2}; }; f"
  cancel = reset --soft HEAD^
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[diff "image"]
  command = ~/bin/git-imgdiff
